CodeScripts/MoravianMemoirs.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Moravian Lives Schema</title>
        <author>Diane Jakacki</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the TEI Consortium
            (info@tei-c.org).</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <appInfo>
        <application ident="RomaJS" version="1.1.2" when="2025-01-24T20:42:32.656Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
        </application>
      </appInfo>
    </encodingDesc>
    <revisionDesc>
      <change when="2025-01-26">
        <desc>Diane Jakacki repaired value list discrepancies</desc>
      </change>
      <change when="2025-01-24">
        <desc>Diane Jakacki added value lists for orgName, eventName, and affiliation elements</desc>
      </change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <head>TEI Complete</head>
      <p>This TEI customization describes a schema that includes <emph>all</emph> of the TEI P5
        modules. This is a very useful starting place for manually creating your own customizations
        — it is much easier to delete the modules you do not want than to add the modules you do.
        Furthermore this customization often proves helpful for testing TEI software.</p>
      <p>However, this particular TEI customization is <emph>not recommended</emph> for actual use
        for encoding documents. It produces schemas and reference documentation that will be much
        larger and include many more elements than almost anyone could conceivably ever need.
        Tempting though it may be simply to have absolutely everything, and <q>just ignore</q>
        elements not required, experience has shown that their presence makes the documentation
        harder to read and use, and makes a schema that is far more lax than desired.</p>
      <p>The <att>n</att> attribute of each <gi>moduleRef</gi> below reflects the chapter number of
        the TEI <title>Guidelines</title> in which the module being referenced is defined. Note that
        the modules are generally referred to in the order defined, with the exception that the
        module for <title level="a">Simple Analytic Mechanisms</title> is referred to before the
        module for <title level="a">Dictionaries</title>. This is because the class <name
          type="class">att.lexicographic.normalized</name> (which is defined in <name type="module"
          >analysis</name>) needs to be specified before the class <name type="class"
          >att.lexicographic</name> (which is defined in <name type="module"
        >dictionaries</name>).</p>
      <p>The first four modules are often called the <soCalled>required</soCalled> modules. However,
        these modules are not themselves technically required to create a TEI conformant markup
        language (let alone a useful non-TEI conformant markup language). Rather, they each contain
        one or more <emph>elements</emph> which are required for TEI conformance.</p>
      <schemaSpec ident="MoravianMemoirs" start="TEI teiCorpus" prefix="" targetLang="en"
        docLang="en">
        <moduleRef n="01" key="tei"/>
        <moduleRef n="02" key="header"/>
        <moduleRef n="03" key="core"/>
        <moduleRef n="04" key="textstructure"/>
        <moduleRef n="05" key="gaiji"/>
        <moduleRef n="06" key="verse"/>
        <moduleRef n="07" key="drama"/>
        <moduleRef n="08" key="spoken"/>
        <moduleRef n="09" key="cmc"/>
        <moduleRef n="18" key="analysis"/>
        <moduleRef n="10" key="dictionaries"/>
        <moduleRef n="11" key="msdescription"/>
        <moduleRef n="12" key="transcr"/>
        <moduleRef n="13" key="textcrit"/>
        <moduleRef n="14" key="namesdates"/>
        <moduleRef n="15" key="figures"/>
        <moduleRef n="16" key="corpus"/>
        <moduleRef n="17" key="linking"/>
        <moduleRef n="19" key="iso-fs"/>
        <moduleRef n="20" key="nets"/>
        <moduleRef n="22" key="certainty"/>
        <moduleRef n="23" key="tagdocs"/>
        <elementSpec ident="affiliation" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="childrens_choir"/>                  
                <valItem mode="add" ident="congregation"/>
                <valItem mode="add" ident="disciples_house" />
                <valItem mode="add" ident="œconomy" />
                <valItem mode="add" ident="greater_boys_choir" />
                <valItem mode="add" ident="greater_girls_choir" />
                <valItem mode="add" ident="married_choir" />
                <valItem mode="add" ident="Inghams_society"/>
                <valItem mode="add" ident="pilgrim_congregation" />
                <valItem mode="add" ident="pilgrims_house" />
                <valItem mode="add" ident="sea_congregation" />
                <valItem mode="add" ident="single_brothers_choir" />
                <valItem mode="add" ident="single_sisters_choir" />
                <valItem mode="add" ident="synod" />
                <valItem mode="add" ident="widows_choir" />
                <valItem mode="add" ident="widowers_choir" />
                <valItem mode="add" ident="other" />
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="eventName" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="acceptance"/>
                <valItem mode="add" ident="accident"/>
                <valItem mode="add" ident="arrival"/>
                <valItem mode="add" ident="awakening"/>
                <valItem mode="add" ident="baptism" />
                <valItem mode="add" ident="birth" />
                <valItem mode="add" ident="communion"/>
                <valItem mode="add" ident="confirmation"/>
                <valItem mode="add" ident="consecration"/>
                <valItem mode="add" ident="conversion" />
                <valItem mode="add" ident="death" />
                <valItem mode="add" ident="departure" />
                <valItem mode="add" ident="draw lot" />
                <valItem mode="add" ident="ecclesiastical"/>
                <valItem mode="add" ident="entrance" />
                <valItem mode="add" ident="exclusion" />
                <valItem mode="add" ident="expulsion" />
                <valItem mode="add" ident="interment" />
                <valItem mode="add" ident="journey"/>
                <valItem mode="add" ident="love feast"/>
                <valItem mode="add" ident="marriage" />
                <valItem mode="add" ident="ordination"/>
                <valItem mode="add" ident="readmission"/>
                <valItem mode="add" ident="reception" />
                <valItem mode="add" ident="resignation"/>
                <valItem mode="add" ident="retirement"/>
                <valItem mode="add" ident="sacrament" />
                <valItem mode="add" ident="spiritual"/>
                <valItem mode="add" ident="synod"/>
                <valItem mode="add" ident="transfer" />
                <valItem mode="add" ident="widowed"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="listRelation" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="change">
                <valItem mode="add" ident="moravian">
                  <desc versionDate="2025-01-24" xml:lang="en">Moravian-specific relationship</desc>
                </valItem>
                <valItem mode="add" ident="personal">
                  <desc versionDate="2025-01-24" xml:lang="en">personal relationship</desc>
                </valItem>
                <valItem mode="add" ident="social">
                  <desc versionDate="2025-01-24" xml:lang="en">social relationship</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="name" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="health"/>
                <valItem mode="add" ident="emotion"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="change">
              <desc versionDate="2025-01-24" xml:lang="en">provides a sub-categorization for the
                health type</desc>
              <valList type="closed" mode="change">
                <valItem mode="add" ident="recovered"/>
                <valItem mode="add" ident="disease"/>
              </valList>
            </attDef>
            <attDef ident="ana" mode="change">
              <valList type="closed" mode="change"/>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="orgName" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem mode="add" ident="anglican">
                  <desc versionDate="2025-01-24" xml:lang="en">Anglican</desc>
                </valItem>
                <valItem mode="add" ident="baptist">
                  <desc versionDate="2025-01-24" xml:lang="en">Baptist</desc>
                </valItem>
                <valItem mode="add" ident="lutheran">
                  <desc>Lutheran</desc>
                </valItem>
                <valItem mode="add" ident="methodist">
                  <desc>Methodist</desc>
                </valItem>
                <valItem mode="add" ident="moravian">
                  <desc>Moravian Church</desc>
                </valItem>
                <valItem mode="add" ident="presbyterian">
                  <desc>Presbyterian</desc>
                </valItem>
                <valItem mode="add" ident="quaker">
                  <desc>Quaker</desc>
                </valItem>
                <valItem mode="add" ident="roman_catholic">
                  <desc>Roman Catholic</desc>
                </valItem>
                <valItem mode="add" ident="Other"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="relation" mode="change">
          <attList>
            <attDef ident="name" mode="change">
              <desc versionDate="2025-01-24" xml:lang="en">supplies a name for Moravian
                relationships of which this is an instance.</desc>
              <valList mode="change">
                <valItem mode="add" ident="child"/>
                <valItem mode="add" ident="baptism"/>
                <valItem mode="add" ident="interment"/>
                <valItem mode="add" ident="parent"/>
                <valItem mode="add" ident="reception"/>
                <valItem mode="add" ident="sibling"/>
                <valItem mode="add" ident="spouse"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
