CodeScripts/MoravianMemoirs-alt.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Moravian Lives TEI P5 ODD Customisation</title>
        <author xml:id="JAKA1">Diane Jakacki</author>
        <author xml:id="jschaumberger">Justin Schaumberger</author>
      </titleStmt>
      <publicationStmt>
        <authority>
          <name>Diane Jakacki</name>
          <email>diane.jakack@bucknell.edu</email>
        </authority>
        <authority>
          <name>Justin Schaumberger</name>
          <email>jes083@bucknell.edu</email>
        </authority>
        <availability>
          <licence target="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</licence>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>This TEI P5 Customisation file is being developed for memoirs from the Moravian Archives in Bethlehem, Pennsylvania as part of the Moravian Lives project ("ML"). The intention is that it
          should evolve over time.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <editorialDecl>
        <correction>
          <p>Corrections are made to the transcribed memoirs based on transcribers' interpretations of deletions, overwrites, additions, and corrections.</p>
        </correction>
        <interpretation>
          <p>In some cases - but not all - transcribers have corrected non-standard spelling and punctuation.</p>
          <p>In order to take on more complex textual analysis, certain tags have been customized in this schema. These are marked in comments by "CUSTOMIZATION: " and then the element or attribute
            that has been altered or expanded.</p>
        </interpretation>
        <punctuation>
          <p>In some cases - but not all - transcriptions reflect 18th century forms of punctuation, including '=' rather than hyphens, glyphs rather than asterisks, etc.</p>
        </punctuation>
      </editorialDecl>
    </encodingDesc>
    <revisionDesc>
      <change when="2021-03-14" who="#JAKA1">Adjusted listOffice attribute classes</change>
      <change when="2020-06-01" who="#jschaumberger">Cleaned up the odd file</change>
      <change when="2020-02-26" who="#jschaumberger">Added tags to be used in the Work Ontology</change>
      <change when="2019-11-21" who="#jschaumberger">Added the customization of the work tag</change>
      <change when="2019-08-01" who="#jschaumberger">Added injury as an option for name:@health</change>
      <change when="2019-07-30" who="#jschaumberger #JAKA1">Added some German translations</change>
      <change when="2019-07-30" who="#jschaumberger">Added roleName @type diety as a suggested input</change>
      <change when="2019-07-03" who="#jschaumberger">Added name @office</change>
      <change when="2019-06-21" who="#JAKA1 #jschaumberger">Updated and added schematic specifities</change>
      <change when="2018-12-07" who="#JAKA1">Removed note types</change>
      <change when="2018-11-23" who="#JAKA1">Cleaned up ODD structure</change>
      <change when="2018-11-15" who="#JAKA1">Extended English and German attributes</change>
      <change when="2018-10-06" who="#JAKA1">Added English and German name attributes</change>
      <change when="2018-09-30" who="#JAKA1">Added types for Faull's FA2018 HUMN100 course</change>
      <change when="2017-12-30" who="#JAKA1">Creation of ODD to version 0.1</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <div>
        <head>Formal Declaration</head>
        <schemaSpec ident="ML" start="TEI">
          <!-- tei module sets up class structure, etc. -->
          <moduleRef key="tei" />
          <!-- analysis module, include only span -->
          <moduleRef key="analysis" include="span" />
          <!-- Include all of transcription -->
          <moduleRef key="transcr" />
          <!-- certainty module-->
          <moduleRef key="certainty" include="certainty respons" />
          <!-- core module, lots of things. -->
          <moduleRef key="core" include="abbr add addrLine address author bibl biblScope cb choice cit citedRange corr date del desc editor email expan facs foreign gap gloss graphic head hi item
            label l lb lg list listBibl measure milestone name note orig p pb ptr pubPlace publisher quote ref reg region relatedItem resp respStmt rs sic term textLang title unclear" />
          <!-- Including only settingDesc and particDesc for the time being - may go back and add later -->
          <moduleRef key="corpus" include="settingDesc particDesc" />
          <!-- Include all of dictionaries for language processing, just in case -->
          <moduleRef key="dictionaries" />
          <!-- Include all of characters and glyphs for the time being - may go back and exclude some -->
          <moduleRef key="gaiji" />
          <!-- Include all of figures -->
          <moduleRef key="figures" />
          <moduleRef key="spoken"/>
          <!-- Include all header module -->
          <moduleRef key="header" />
          <!-- include all for linking module -->
          <moduleRef key="linking" />
          <!-- Include all of msdescription for now -->
          <moduleRef key="msdescription" />
          <!-- namesdates: include all for now -being explicit because the object tags are not yet introduced universally. -->
          <!-- 2021-03-14 DKJ added listOffice and listOccupation to this -->
          <moduleRef key="namesdates" include="addName affiliation age birth bloc climate country death district education event eventName faith floruit forename genName geo geogFeat geogName langKnowledge
            langKnown listEvent listNym listObject listOffice listOccupation listOrg listPerson listObject listPlace listRelation location nameLink nationality nym object objectIdentifier objectName occupation offset org orgName persName
            person personGrp persona place placeName population region relation residence roleName settlement sex socecStatus state surname terrain trait" />
          <!-- Include all of verse module -->
          <moduleRef key="verse" />
          <!-- tagsdoc module to include code -->
          <moduleRef key="tagdocs" include="code" />
          <!-- textstructure module -->
          <moduleRef key="textstructure" include="TEI body byline closer dateline div docAuthor docDate floatingText group opener postscript salute signed text trailer" />
          <!-- Do not include Graphs, networks, and trees (nets) unless we find we need it -->
          <!-- Do not include Transcribed speech (spoken) unless we decide we want to customize distinction between ownhand and dictated -->
          <!-- Do not include transcription module unless we decide we want to get more specific about describing the physical document-->
          <!-- Do not include feature structures (iso-fs) unless we decide we need it -->
          <!-- Do not include textcrit module unless we decide to compare versions of memoirs across archives -->
          <!-- IMPORTANT: In order to accommodate complex semantic tagging regarding the Moravians with regard to emotion, events, health/illness, and occupation, 
            we have customized the name element to include them as attributes in English and German.
            the specifications are documented in English and German with @sameAs for the other language. If we find that additional languages are needed in the Moravian Lives tagging protocols, we will add them. 
            ~Diane Jakacki, 11/06/2018 -->
          <!-- div  - can't remember why I did this ....-->
          <elementSpec ident="div" mode="change" module="textstructure"> </elementSpec>
          <!-- CUSTOMIZATION: added emotion, health  / English. Wherever possible adding @sameAs to track parallels -->
<!--          <classSpec ident="att.naming" module="tei" type="atts" mode="change">
            <attList>
<!-\-              <attDef ident="emotion" mode="change" sameAs="gefühl" />-\->
<!-\-              <attDef ident="event" mode="change" sameAs="ereignis" />-\->
<!-\-              <attDef ident="health" mode="change" sameAs="gesundheitszustand" />-\->
<!-\-              <attDef ident="memoirSubject" mode ="change"></attDef>-\->
<!-\-              <attDef ident="occupation" mode="change" />-\->
<!-\-              <attDef ident="office" mode="change" sameAs="amt"></attDef>-\->
<!-\-              <attDef ident="relation" mode="change" sameAs="verwandte" />-\->
            </attList>
          </classSpec>-->
          
          <!-- CUSTOMIZATION: added name:@memoirSubject / English. -->
          <!-- This tag is used to track occurances when a tag entity is not relating to the subject of the memoir -->
<!--          <elementSpec ident="name" mode="change" module="core">
            <attList>
              <attDef ident="memoirSubject" mode="change">
                <valList mode="add" type="closed">
                  <valItem ident="no"><desc>Use this only to indicate a person other than the memoir's subjcect</desc></valItem>
                  <valItem ident="n"><desc>Use this only to indicate a person other than the memoir's subjcect</desc></valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>-->
          
          <!-- CUSTOMIZATION: modified options for  listRelation:@type / English. -->
          <elementSpec ident="listRelation" mode="change" module="core">
            <attList>
              <attDef ident="type" mode="change">
                <valList mode="add" type="closed">
                  <valItem ident="Moravian"/>
                  <valItem ident="personal"/>
                  <valItem ident="social"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- CUSTOMIZATION: modified options for  relation:@name / English. -->
          <elementSpec ident="relation" mode="change" module="core">
            <attList>
              <attDef ident="name" mode="change">
                <valList mode="add" type="closed">
                  <valItem ident="child"/>
                  <valItem ident="baptism"/>
                  <valItem ident="interment"/>
                  <valItem ident="parent"/>
                  <valItem ident="reception"/>
                  <valItem ident="sibling"/>
                  <valItem ident="spouse"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- CUSTOMIZATION: added eventName @type  -->
          <elementSpec ident="eventName" mode="change" module="core">
            <attList>
              <attDef ident="type" mode="change">
                <valList mode="add" type="closed">
                  <valItem ident="acceptance"/>
                  <valItem ident="accident"/>
                  <valItem ident="arrival"/>
                  <valItem ident="awakening"/>
                  <valItem ident="baptism" />
                  <valItem ident="birth" />
                  <valItem ident="communion"/>
                  <valItem ident="confirmation"/>
                  <valItem ident="consecration"/>
                  <valItem ident="conversion" />
                  <valItem ident="death" />
                  <valItem ident="departure" />
                  <valItem ident="draw lot" />
                  <valItem ident="ecclesiastical"/>
                  <valItem ident="entrance" />
                  <valItem ident="exclusion" />
                  <valItem ident="expulsion" />
                  <valItem ident="interment" />
                  <valItem ident="journey"/>
                  <valItem ident="love feast"/>
                  <valItem ident="marriage" />
                  <valItem ident="ordination"/>
                  <valItem ident="readmission"/>
                  <valItem ident="reception" />
                  <valItem ident="resignation"/>
                  <valItem ident="retirement"/>
                  <valItem ident="sacrament" />
                  <valItem ident="spiritual"/>
                  <valItem ident="synod"/>
                  <valItem ident="transfer" />
                  <valItem ident="widowed"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          <!-- CUSTOMIZATION: added name:@type health and emotion. -->
          <elementSpec ident="name" mode="change" module="core">
            <attList>
              <attDef ident="type" mode="change">
                <valList mode="add" type="closed">
                  <valItem ident="health"/>
                  <valItem ident="emotion"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- !!!!CUSTOMIZATION NOTE: will use name @ana for emotion types!!!! -->

<!-- CUSTOMIZATION: added health @subtypes -->
          <elementSpec ident="name" mode="change" module="core">
            <attList>
              <attDef ident="subtype" mode="change">
                <valList mode="add" type="closed">
                  <valItem ident="recovered"/>
                  <valItem ident="disease"/>
                  <valItem ident="injury"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
<!--          <!-\- CUSTOMIZATION: added en, de to distinguish language for roleName, orgName, addName -\->
          <classSpec ident="att.naming" module="namesdates" type="atts" mode="change">
            <attList>
              <attDef ident="de" mode="change" />
              <attDef ident="en" mode="change" />
              <attDef ident="religion" mode="change"/>
            </attList>
          </classSpec>-->
          
          <!-- UPDATE: use affiliation instead of orgName -->
          <!-- CUSTOMIZATION: added orgName:@en / English -->
          <elementSpec ident="affiliation" mode="change" module="namesdates">
            <attList>
              <attDef ident="type" mode="change">
                <valList mode="add" type="closed">
                  <valItem ident="childrens choir" />
                  <valItem ident="congregation" />
                  <valItem ident="disciple's house" />
                  <valItem ident="œconomy" />
                  <valItem ident="greater boys choir" />
                  <valItem ident="greater girls choir" />
                  <valItem ident="married choir" />
                  <valItem ident="Ingham's society"/>
                  <valItem ident="pilgrim congregation" />
                  <valItem ident="pilgrim's house" />
                  <valItem ident="sea congregation" />
                  <valItem ident="single brothers choir" />
                  <valItem ident="single sisters choir" />
                  <valItem ident="synod" sameAs="synode" />
                  <valItem ident="widows choir" />
                  <valItem ident="widowers choir" />
                  <valItem ident="other"></valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          
          <!-- CUSTOMIZATION: added orgName:@religion / English -->
          <!-- For now we are not going to translate the religious groups to German -->
          <elementSpec ident="orgName" mode="change" module="namesdates">
            <attList>
              <attDef ident="religion" mode="change">
                <valList mode="add" type="closed">
                  <valItem ident="Anglican"/>
                  <valItem ident="Baptist"/>
                  <valItem ident="Lutheran"/>
                  <valItem ident="Methodist"/>
                  <valItem ident="Moravian Church"/>
                  <valItem ident="Presbyterian"/>
                  <valItem ident="Quaker"/>
                  <valItem ident="Roman Catholic"/>
                  <valItem ident="Other"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>

          
          <!-- CUSTOMIZATION: added hi:@rend superscript, italic, underscore, strikethrough to hi @rend -->
 <!--         <elementSpec ident="hi" mode="change" module="core">
            <attList>
              <attDef ident="rend" mode="change">
                <valList mode="add" type="closed">
                  <valItem ident="superscript" />
                  <valItem ident="italic" />
                  <valItem ident="underline" />
                  <valItem ident="strikethrough"/>
                </valList>
              </attDef>
            </attList>
          </elementSpec>-->

          <!--______________________________________________________________________________________________________________________________________________________________________________-->
          <!--                                                             Below is code relating to the schema for the work ontology                                                       -->
          <!--______________________________________________________________________________________________________________________________________________________________________________-->
          
          
          <!-- Builds in <listOccupation> beneath <body> for the work ontology -->
          <!-- DKJ 2021-03-14 added model.personLike to see if it can be used within listPerson -->
          <!-- in body of text use persName @role instead -->
<!--          <elementSpec ident="listOccupation" mode="add">
            <classes>
              <memberOf key="model.headLike"/>
              <memberOf key="model.listLike"/>
              <memberOf key="model.orgPart"/>
              <memberOf key="model.personLike"/>
              <memberOf key="att.declarable"/>
              <memberOf key="att.global"/>
              <memberOf key="att.naming"/>
              <memberOf key="att.sortable"/>
              <memberOf key="att.typed"/>
            </classes>           
           
            <content>
              <sequence>
                <!-\- Includes elements that can and have to be in the occupation tag -\->
                <elementRef key="occupation" maxOccurs="unbounded"/> 
                <classRef key="model.headLike" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
            </content>
          </elementSpec>-->
          <!-- Adds to the occupation tag to allow it to contain <def> and <listRelation>. This is used in the ontology -->
          
<!--          <elementSpec ident="occupation" mode="change">
              <content>
                <macroRef key="macro.specialPara"/>
                <elementRef key="def" minOccurs="0"></elementRef>
                <elementRef key="listRelation" minOccurs="0"/>
                <elementRef key="variant" minOccurs="0"/>
              </content>
          </elementSpec>-->
          
          <!-- Builds in <listOffice> beneath <body> for the work ontology -->
          <!-- DKJ 2021-03-14 added model.personLike to see if it can be used within listPerson -->
<!--          <elementSpec ident="listOffice" mode="add">
            <classes>
              <memberOf key="model.headLike"/>
              <memberOf key="model.listLike"/>
              <memberOf key="model.orgPart"/>
              <memberOf key="model.personLike"/>
              <memberOf key="att.declarable"/>
              <memberOf key="att.global"/>
              <memberOf key="att.naming"/>
              <memberOf key="att.sortable"/>
              <memberOf key="att.typed"/>
            </classes>
            
            <content>
              <sequence>
                <!-\- Includes elements that can and have to be in the office tag -\->
                <elementRef key="office" maxOccurs="unbounded"/> 
                <classRef key="model.headLike" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
            </content>
          </elementSpec>-->
          
          <!-- Builds the office tag to include certain tags. This is used for the ontology -->
<!--          <elementSpec ident="office" mode="add">
            <classes>
              <memberOf key="model.persStateLike"></memberOf>
              <memberOf key="att.canonical"></memberOf>
              <memberOf key="att.global.linking"></memberOf>
              <memberOf key="att.datable"/>
              <memberOf key="model.entryPart"></memberOf>
              <memberOf key="att.global.source"></memberOf>
            </classes>
            
            <!-\- These are the nested tags that office can contain -\->
            <content>
              <macroRef key="macro.specialPara"/>
              <elementRef key="def" minOccurs="0"></elementRef>
              <elementRef key="listRelation" minOccurs="0"/>
              <elementRef key="variant" minOccurs="0"/> 
            </content>
          </elementSpec>-->
          
          <!-- Builds the variant tag to include certain tags. This is used for the ontology -->
<!--          <elementSpec ident="variant" mode="add">
            <classes>
              <memberOf key="att.canonical"></memberOf>
              <memberOf key="att.global.linking"></memberOf>
              <memberOf key="model.entryPart"></memberOf>
            </classes>
            <content>
              <macroRef key="macro.specialPara"/>
              <elementRef key="desc" minOccurs="1" maxOccurs="1"/>
            </content> 
          </elementSpec>
          -->


          
          <!-- end of schema -->
        </schemaSpec>
      </div>
    </body>
  </text>
</TEI>
